  #table{
     width:500px;
     height:100px;
     background: black;
     margin top: 20px;
     margin bottom: 20px;
     
  }
  
   #circle {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background: rgb(230, 0, 0);
      font-size:50px;
      text-align:center;
      font-family: Helvetica;
      font-style: inherit;
      float: left;
      display: table;
      line-height: 100px;
      margin: 20px;
    }
    
   #circle2 {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background: rgb(0, 0, 204);
      display: table-cell;
      margin top: 20px;
    }
    
   #circle3 {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background: rgb(255, 214, 51);
      display:table-cell;
      margin: 20px;
    }