body{
    padding: 0px;
    margin:0px;
}

.top{
     width:1200px;
     height:1200px;
     background-color: black;
     margin:0px;
     padding:0px;
  }
  
  .core{
      font-family:Helvetica, white;
      font-weight:bold;
      font-size:100pt;
      color:white;
      padding-top: 30px;
      padding-left: 40px;
  }
    .subtitle{
      font-family:Helvetica, white;
      font-weight:bold;
      font-size:50pt;
      color: white;
      padding-top: 10px;
      padding-left: 50px;
  }
  
.circle {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background: rgb(0, 173, 0);
      font-size:50px;
      text-align:center;
      font-family:Helvetica, white;
      font-weight:bold;
      color: white;
      font-size: 50pt;
      line-height: 100px;
      margin-left: 500px;
    }
    
.circle2 {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background: rgb(0, 0, 204);
      display: table-cell;
      margin top: 20px;
    }
    
.circle3 {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background: rgb(255, 214, 51);
      display:table-cell;
      margin: 20px;
    }