body {
}

#container{
      width: 1200px;
}

.boxRed{
    width:100px;
    height:100px;
    background-color: purple; 
    float:left;
}

.boxBlue{
    width:100px;
    height:100px;
    background-color: yellow; 
    float:left;
}